
/*轮播图*/
#yb {
    position:absolute;
    width:100%;
}
.ig {
    position:absolute;
    cursor:pointer;
    width:100%;
}
    .ig img {
        width:100%;
    }
.btn {
    position:absolute;
    width:30px;
    height:62px;
    background:rgba(0,0,0,0.5);
    color:#fff;
    text-align:center;
    line-height:62px;
    font-size:20px;
    top:219px;
    cursor:pointer;
}
.btn2 {
    right:0px;
}
ul {
    list-style-type:none;
}
#tabs {
    position:relative;
    margin-left:auto;
    margin-right:auto;
    top:470px;
    width:182px;
    height:20px;
    background-color:rgba(255, 255, 255,0.3);
    border-radius:12px;
}
.tab {
    width:12px;
    height:12px;
    background-color:#fff;
    float:left;
    text-align:center;
    line-height:30px;
    border-radius:100%;
    margin:4px 5.375px;
}
.bg {
    background-color:#dd0d0d;
}
/*旅游列表图*/
#courselist1, #courselist2, #courselist3, #courselist4 {
    position:relative;
    background-color: #fff;
    width: 1000px;
    margin: 0px auto;
    margin-bottom: 20px;
    height: 620px;
    top:520px;
}

#courselist3, #courselist4 {
    height: 340px;
}

.sy-course-gtop {
    height: 18px;
    width: 950px;
    padding: 20px;
    line-height: 18px;
}

.gtop-left {
    border-left: solid 8px #009688;
    padding-left: 10px;
}

.sy-course-gtop .gtop-left {
    float: left;
}

.sy-course-gtop .gtop-right {
    float: right;
}

.clists ul {
    width: 930px;
    margin: 0px auto;
}

.clists li {
    width: 223px;
    height: 270px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.clists .cmargin {
    margin-right: 0px;
}

.clists li .ctitle, .clists li .cprice, .clists li .ctimeteacher {
    width: 200px;
    margin: 0px auto;
}

.clists li .ctitle {
    font-size: 14px;
    margin: 0px auto;
}

.clists li .ctitle, .clists li .cprice, .clists li .ctimeteacher {
    height: 34px;
    line-height: 34px;
}

    .clists li .cprice .cprice-left, .ctimeteacher .ctime {
        float: left;
    }

    .clists li .cprice .cprice-right, .ctimeteacher .cteacher {
        float: right;
    }

    .clists li .cprice .cprice-left {
        font-size: 18px;
        color: #ff4000;
    }

    .clists li .cprice cprice-right {
        font-size: 14px;
    }

.clists li .ctimeteacher {
    color: #999;
    font-size: 12px;
}

.clists li:hover {
    transform: translate(0px,-4px);
    box-shadow: 2px 10px 10px #ccc;
    transition: transform linear 0.2s;
}

.cl:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.cl {
    zoom: 1;
}

.r {
    float: right;
}

.l {
    float: left;
}

.pt20 {
    padding-top: 20px;
}

.w1200 {
    position:relative;
    width: 1000px;
    margin: 0 auto;
    top:480px;
}
/*one stare*/
.title {
    text-align: center;
    padding: 50px 0 15px 0; /* border-bottom:1px dashed #e0e0e0;*/
}

    .title h1 {
        font-size: 40px;
    }

        .title h1 span {
            color: #1dd2af;
        }

    .title p {
        font: 20px/46px "Microsoft YaHei";
        color: #2c3e50;
    }

        .title p b {
            color: #1dd2af;
        }

.important {
    padding: 20px 0 0px 0;
    border-top: 1px dashed #e0e0e0;
    border-bottom: 1px solid #dee1e1;
}

    .important li {
        float: left;
        margin-right: 33px;
    }

        .important li a {
            display: block;
            width: 60px;
            height: 60px;
            display: block;
            padding: 21px;
            border-radius: 15px;
            border: 1px dotted #1dd2af;
            background: #fff;
        }

        .important li:hover a {
            border: 1px dotted #696969;
            background: #fff;
        }

        .important li span {
            width: 60px;
            height: 60px;
            display: block;
        }

    .important .rcsp_1 span {
        background: url("../image/icon1.png") no-repeat bottom center;
    }

    .important .rcsp_2 span {
        background: url("../image/icon2.png") no-repeat bottom center;
    }

    .important .rcsp_3 span {
        background: url("../image/icon3.png") no-repeat bottom center;
    }

    .important .rcsp_4 span {
        background: url("../image/icon4.png") no-repeat bottom center;
    }

    .important .rcsp_5 span {
        background: url("../image/icon5.png") no-repeat bottom center;
    }

    .important .rcsp_6 span {
        background: url("../image/icon6.png") no-repeat bottom center;
    }

    .important .rcsp_7 span {
        background: url("../image/icon7.png") no-repeat bottom center;
    }


.bgbg {
    background: url("../image/bgbg.png") center bottom no-repeat;
    width: 100%;
    padding-bottom: 20px;
}

.w1200 .important .rcsp_1:hover span, .w1200 .important .rcsp_2:hover span, .w1200 .important .rcsp_3:hover span, .w1200 .important .rcsp_4:hover span, .w1200 .important .rcsp_5:hover span, .w1200 .important .rcsp_6:hover span, .w1200 .important .rcsp_7:hover span, .w1200 .important .rcsp_8:hover span, .w1200 .important .rcsp_9:hover span {
    transition: background 0.3s;
    -moz-transition: background 0.3s;
    -ms-transition: background 0.3s;
    -webkit-transition: background 0.3s;
    -o-transition: background 0.3s;
}

.w1200 .important .rcsp_1:hover span {
    background: url("../image/icon1.png") no-repeat top center;
}

.w1200 .important .rcsp_2:hover span {
    background: url("../image/icon2.png") no-repeat top center;
}

.w1200 .important .rcsp_3:hover span {
    background: url("../image/icon3.png") no-repeat top center;
}

.w1200 .important .rcsp_4 span:hover {
    background: url("../image/icon4.png") no-repeat top center;
}

.w1200 .important .rcsp_5 span:hover {
    background: url("../image/icon5.png") no-repeat top center;
}

.w1200 .important .rcsp_6 span:hover {
    background: url("../image/icon6.png") no-repeat top center;
}

.w1200 .important .rcsp_7 span:hover {
    background: url("../image/icon7.png") no-repeat top center;
}


.important .rcsp_9 {
    margin-right: 0px;
}

.important li p {
    line-height: 18px;
    margin-top: 20px;
    text-align: center;
    display: block;
    color: #1dd2af;
}

.important li:hover p {
    color: #333;
}

.important li strong {
    border-bottom: 1px solid #24d2b0;
    position: relative;
    display: block;
    margin-top: 15px;
    z-index: 4;
}

    .important li strong i {
        display: none;
        position: absolute;
        width: 0px;
        height: 0px;
        border: 10px solid transparent;
        display: block;
        left: 50%;
        margin-left: -9px;
        border-top-color: #1dd2af;
    }

.important_l {
    padding: 30px 60px 0 20px;
    float: left;
    width: 510px;
    overflow: hidden;
}

    .important_l img {
        width: 450px;
        height: 384px;
    }

.important_r {
    float: right;
    padding: 30px 60px 0px 0px;
    width: 900px;
    overflow: hidden;
}

.title_1 {
    text-align: center;
}

    .title_1 h3 {
        font: 14px/16px "Arial";
        text-transform: uppercase;
        color: #535353;
        display: block;
    }

        .title_1 h3 span, .title_1 h2 span {
            color: #ef571a;
        }

    .title_1 h2 {
        font: bold 30px/40px "Microsoft YaHei";
        color: #535353;
        padding-bottom: 5px;
    }

.icon_top {
    width: 100%;
    padding-top: 25px;
}

    .icon_top i {
        display: block;
        width: 32px;
        height: 32px;
    }

    .icon_top .i_left {
        float: left;
        background: url("../image/icon_left.png") 0 center no-repeat;
    }

    .icon_top .i_right {
        float: right;
        background: url("../image/icon_right.png") 0 center no-repeat;
    }

    .icon_top .i_left1 {
        float: left;
        background: url("../image/icon_left1.png") 0 center no-repeat;
    }

    .icon_top .i_right1 {
        float: right;
        background: url("../image/icon_right1.png") 0 center no-repeat;
    }

.study {
    padding: 0px 32px;
}

    .study h3 {
        font: bold 25px/30px "Microsoft YaHei";
        color: #1dd2af;
        display: block;
        padding-bottom: 15px;
    }

    .study span {
        font: 14px/18px "Microsoft YaHei";
        color: #535353;
        display: block;
        text-indent: 2em;
    }

    .study img {
        display: block;
        width: 140px;
        height: 90px;
        overflow: hidden;
        margin-left: 35%;
        padding-top: 10px;
    }

    .study .know {
        background: #1dd2af;
        display: block;
        font: bold 16px/30px "Microsoft YaHei";
        padding: 0px 10px;
        border-radius: 50px;
        height: 30px;
        color: #FFFFFF;
        text-align: center;
        margin: 0 90px;
        margin-top: 10px;
    }
/*one end*/
.public_img {
    display: block;
    width: 29px;
    height: 29px;
    padding: 15px 0 2px 0;
}

.public_img_1 {
    width: 59px;
    height: 29px;
    display: block;
}
