.headerright {
    display:none;
}

/*注册页面样式*/
#regmain {
    width: 1000px;
    height: 480px;
    margin: 0px auto;
    margin-top: 15px;
}

#regleft {
    width: 610px;
    height: 480px;
    float: left;
}

#regright {
    width: 390px;
    height: 480px;
    float: left;
}

.regitem {
    height: 25px;
    width: 100%;
    line-height: 25px;
}

.regitem1 {
    font-size: 14px;
    height: 45px;
    line-height: 45px;
    margin-bottom: 10px;
    margin-left: 80px;
}

#stratinfor {
    float: left;
    color: #999999;
}

#reglogin {
    float: right;
}

    #reglogin a {
        color: #47AD2F;
    }

        #reglogin a:hover {
            color: #999999;
        }

#btnreg {
    background-color: #35B558;
    width: 100%;
    color: #fff;
    font-size: 20px;
    height: 44px;
}

    #btnreg:hover {
        background-color: #67D179;
    }


#txtCheckCode {
    width: 187px;
    margin-right: 10px;
}


#ddlphase {
    width: 177px;
}

#selphase {
    color: #999999;
}

.inforerror {
    color: red;
}

.begininfor {
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
    color: #999999;
}

    .begininfor .l_f {
        font-size: 12px;
        margin-top: 5px;
    }

#inforbox {
    top:0px;
}